<p>settings works!</p>
<ul class="nav nav-tabs">
  <li class="nav-item ">
    <a class="nav-link">Controllers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Agents</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">SMPt</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Support</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Password Setting</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Ticketing</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Data Purging</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">GIS Toolkit</a>
  </li>
</ul>

<div class="container" >
  <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link"  routerLink="settings/addForm" routerLinkActive="active">Add</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Delete</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Edit</a>
      </li>
    </ul>
</div>

<router-outlet></router-outlet>
